body{
	margin: 0px;
	padding: 0px;
	font-family: Arial, Sans-serif;
	font-size: 10px;
	color: black;

}

.left{
	float: left;
}

.right{
	float: right;
}

.wrapper{
	width: 770px;
	margin: 0 auto;
	overflow: hidden;

}

header{
	position: relative;
	height: 184px;
	background: url(../img/header-bg.png);
	z-index: 10;
	
}

header a{
	text-decoration: none;
}

header li{
	display: inline-block;
}

header .header-navigation-bot-bg{
	position: absolute;
	bottom: -51px;
	background: url(../img/header-nav-bot-bg.png);
	height: 88px;
	width: 770px;
}

header .header-navigation-bot, header .header-navigation-top{
	list-style-type: none;
	position: absolute;
	
}

header .header-navigation-top{
	right: 0px;
	top: 0px;
	padding: 8px 0px;
	margin: 0px;
}

header .header-navigation-bot{
right: 140px;
bottom: 40px;
margin: 0px;
}

header .header-navigation-bot li{
	margin-left: 27px;
}

header .header-navigation-top li{
	margin-right: 46px;
}

.header-navigation-top li:last-child{
	margin-right: 15px;
}

header .header-navigation-bot a{
	color: #000;
	font-size: 10px;
}

header .header-navigation-bot a:hover{
		color: #5590cb;
}

.header-navigation-top a{
	font-size: 11px;
	color: #002d5a;
	font-weight: 700;
}

.header-navigation-top a:hover{
	text-decoration: underline;
}

.content-wrapper{
	overflow: hidden;
	margin-top: -7px;
	background:  -webkit-linear-gradient(left, #689bcd 5%, #fff 25%);
	background:	    -moz-linear-gradient(left, #689bcd, #fff);
	background:		  -o-linear-gradient(left, #689bcd, #fff);
	background:		      linear-gradient(left, #689bcd, #fff);
	/*position: relative;*/


}
 .content{
 	width: 530px;
 	padding-right: 23px;
 	padding-top: 69px;
 }

.article {
	overflow: hidden;
	margin-bottom: 10px;
}

.article .article-head{
	margin: 0px;
	margin-bottom: 18px;
}

	.article p{
		line-height: 15px;
		margin-bottom: 45px;
	}

	.article a{
		float: right;
		color: #6699cc;
		margin-right: 10px;
		

	}
	
 .article-head{
 	color: #6699cc;
	font-size: 12px;
	font-weight: bold;

  }

.sidebar{
	box-sizing:border-box;
	width: 196px;	
	padding-top: 76px;
	
	margin-top: -7px;
	padding-left: 22px;
}

.sidebar-navigation {
	padding: 0px;
}

.sidebar-navigation li {
	list-style-type: none;
	margin-bottom: 2px;
	padding: 5px 0px;
	padding-left: 10px;
	background:  -webkit-linear-gradient(left, #689bcd, #679acc 25%, #edf2f9 85%, #fff 95%);

}

.sidebar-navigation a{
	color: #fff;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
}

.sidebar-navigation a:hover{
	text-decoration: underline;
}

.sidebar-navigation a:active{
	color: #002d5a;
	text-decoration: underline;
}

.sidebar h2{
	color: #fff;
	font-size: 12px;
	margin-top: 112px;
}

.sidebar p{
	margin-top: 19px;
	padding-right: 15px;
}

footer{
	float: left;
	width: 100%;
	/*position: absolute;*/
	/*bottom: 0px;*/
	height: 70px;
	background: url(../img/footer-bg.png);
	margin-top: 2px;
}

footer p{
	color: #fff;
	float: right;
	margin-top: 50px;
	margin-right: 23px;
}